<!DOCTYPE html>
<!--  main-fragment (title, otherStaticResources, header, nav, mainContent, footer)  -->
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layouts/main-layout :: main-fragment(
                                                ~{::title},
                                                ~{:: #user-static-resources},
                                                ~{:: #user-header},
                                                ~{:: #user-nav},
                                                ~{:: #user-main-content},
                                                ~{:: #user-footer}
                                               )}">

<head>
    <title>Title of About Page</title>
    <th:block id="user-static-resources">
        <script type="text/javascript" src="../static/about.js" th:src="@{/about.js}"></script>
    </th:block>
</head>
<body>
<div id="user-header" th:replace="~{fragments/app-fragments :: header-default}">
    Header of About Page
</div>
<div id="user-nav" th:replace="~{fragments/app-fragments :: nav-default}">
    Nav
</div>
<div id="user-main-content">
    <h2>signup</h2>
    <div>회원 가입을 진행하세요.</div>
        <table class="table table-bordered table-striped">
            <thead>

            </thead>
            <tbody>
            <tr>
                <td>Email</td>
                <td>
                    <input type="email" name="email" id="email">
                </td>
            </tr>
            <tr>
                <td>비밀번호</td>
                <td>
                    <input type="password" name="password" id="password">
                </td>
            </tr>
            <tr>
                <td>이름</td>
                <td>
                    <input type="text" name="name" id="name">
                </td>
            </tr>
            <tr>
                <td>전화번호</td>
                <td>
                    <input type="number" name="phone" id="phone">
                </td>
            </tr>
            </tbody>
        </table>
        <button type="button" class="btn btn-default" onclick="return checkValidationFromSignup();" > 가입하기 </button>
</div>

<div id="user-footer" th:replace="~{fragments/app-fragments :: copyright}">
    Footer
</div>
</body>
</html>
