<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{default}">
<head>
    <title>Signup</title>
</head>
<body>
<div layout:fragment="content">

    <img class="mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72" />
    <h1 class="h3 mb-3 font-weight-normal">Signup Here</h1>
    <div th:if="${param.error}">
        Invalid email and password.
    </div>
    <div th:if="${param.logout}">
        You have been logged out.
    </div>
    <label for="email" class="sr-only">Username</label>
    <input type="email" name="email" id="email" class="form-control" placeholder="email" required="" />
    <label for="password" class="sr-only">Password</label>
    <input type="password" name="password" id="password" class="form-control" placeholder="Password" required="" />
    <label for="name" class="sr-only">Full Name</label>
    <input type="text" name="name" id="name" class="form-control" placeholder="Your Name" required="" />
    <label for="phone" class="sr-only">Phone Number</label>
    <input type="number" name="phone" id="phone" class="form-control" placeholder="Your Phone Number" required="" />
    <button class="btn btn-lg btn-primary btn-block" onclick="return checkValidationFromSignup();">Sign Up</button>

    <form class="form-signin" th:action="@{/login}" method="get">
        <button class="btn btn-md btn-success btn-block" type="Submit">Sign In</button>
    </form>
</div>
</body>
</html>
