<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{default}">
<head>
    <title>Dashboard</title>
</head>
<body>
<div layout:fragment="content">
    <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
    <h2>회원 목록 게시판</h2>
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <td>회원번호</td>
            <td>Email</td>
            <td>이름</td>
            <td>전화번호</td>
            <td>가입일</td>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${messages.empty}">
            <td colspan="4">가입 한 회원이 아직 없네요.</td>
        </tr>
        <tr th:each="message : ${messages}">
            <td th:text="${message.idx}">idx ...</td>
            <td th:text="${message.email}">email ...</td>
            <!--            <td><a href="view.html" th:href="@{'/' + ${task.id}}" th:text="${task.title}">Title ...</a></td>-->
            <td th:text="${message.name}">name ...</td>
            <td th:text="${message.phone}">phone ...</td>>
            <td th:text="${message.regDate}">regDate ...</td>>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>