<!DOCTYPE html>
<!--  main-fragment (title, otherStaticResources, header, nav, mainContent, footer)  -->
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layouts/main-layout :: main-fragment(
                                                ~{::title},
                                                ~{:: #user-static-resources},
                                                ~{:: #user-header},
                                                ~{:: #user-nav},
                                                ~{:: #user-main-content},
                                                ~{:: #user-footer}
                                               )}">

<head>
    <title>Title of About Page</title>
    <th:block id="user-static-resources">
        <script type="text/javascript" src="../static/about.js" th:src="@{/about.js}"></script>
    </th:block>
</head>
<body>
<div id="user-header" th:replace="~{fragments/app-fragments :: header-default}">
    Header of About Page
</div>
<div id="user-nav" th:replace="~{fragments/app-fragments :: nav-default}">
    Nav
</div>
<div id="user-main-content">
    <h2>Users</h2>
    <div>회원들을 보여줄게!</div>
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <td>ID</td>
            <td>Email</td>
            <td>이름</td>
            <td>전화번호</td>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${messages.empty}">
            <td colspan="4">가입 한 회원이 아직 없네요.</td>
        </tr>
        <tr th:each="message : ${messages}">
            <td th:text="${message.id}">id ...</td>
            <td th:text="${message.email}">email ...</td>
<!--            <td><a href="view.html" th:href="@{'/' + ${task.id}}" th:text="${task.title}">Title ...</a></td>-->
            <td th:text="${message.name}">name ...</td>
            <td th:text="${message.phone}">phone ...</td>>
        </tr>
        </tbody>
    </table>

</div>
<div id="user-footer" th:replace="~{fragments/app-fragments :: copyright}">
    Footer
</div>
</body>
</html>
